* {
     font-family: Georgia, 'Times New Roman', Times, serif;
}

.img {
     background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url('https://picsum.photos/1200/600?grayscale');
     background-size: cover;
     background-position: center;
     height: 500px;
     display: flex;
     align-items: center;
     justify-content: center;
}

.img-content {
     text-align: center;
     max-width: 600px;
     position: relative;
     bottom: -35%;     
}


body {
     background-color:rgba(243,244,246);
     margin: 0;
}

header {
     border-bottom: 0.1rem solid black;
     background-color:rgba(255,255,255);
     margin: 10px;
     padding: 5px 5px 5px 5px;
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
}

.nadpis {
     padding-top: 10px;
     font-size:1.7rem;
     font-weight:700;
     padding-left: 1.5rem;
     color:rgba(220,38,38);
     text-decoration: none;
     width: 100%;
     text-align: center;
}


.container {
     width: 100%;
     align-items: center;
}

input[type=checkbox] {
     display:none;
}

input[type=checkbox] + label {
     width: 100%;
     text-align: center;
     padding-top: 15px;
     font-size: 1.4rem;
}

input[type=checkbox]:checked + label {
     color:rgba(220,38,38);
     text-decoration: underline;
     transform: scale(1.05);
}

input[type=checkbox]:checked + label + nav > ul {
     display: block;
}

nav {
     margin-left: auto;
     margin-right: auto;
     padding-top: 0.75rem;
     padding-bottom: 0.0rem;
     display:flex;
     align-items:center;
     justify-content:space-between
}

header nav ul {
     display:none;
     list-style-type: none; 
     margin: 0; 
     gap: 2rem;
     padding-right: 1.5rem;
     
}

header nav ul li a{
     color:rgba(55,65,81);
     text-decoration: none;
     font-size: 1.2rem;
     transition: all 0.3s ease;
     display: inline-block;
     margin: 0;
     padding: 0;
}

header nav ul li:hover a{
     color:rgba(220,38,38);
     text-decoration: underline;
     transform: scale(1.08);
}

main {
     align-items: center;
     margin-left: auto;
     margin-right: auto;
     padding: 1rem;
}

.img-content h1 {
     font-size:2.25rem;
     line-height:2.5rem;
     font-weight:700;
     color:rgba(220,38,38);
     margin-bottom:1rem;
}

.img-content p {
     color:rgba(255,255,255);
     margin-bottom:1.5rem;
}

.img-content a {
     padding-top:0.5rem;
     padding-bottom:0.5rem;
     padding-left:1rem;
     padding-right:1rem;
     border-radius:0.5rem;
     color:rgba(55,65,81);   
     transition: all 0.3s ease;
}

.img-content a:hover {
     color:rgba(220,38,38);
}

.recipes h2 {
     font-size:1.875rem;line-height:2.25rem;
     font-weight:700;
     color:rgba(220,38,38);
     margin-bottom:1.5rem;
     margin-top: 3rem;
}

.recommended {
     display:flex;
     flex-wrap: wrap;
     gap:1.5rem;
     justify-content: center;
}

.recommended a {
     flex: 1 0 100%;
     background-color:rgba(255,255,255);
     border-radius:0.5rem;
     overflow:hidden;
     text-decoration: none;
}

.recommended a img {
     width:100%;
     height: auto;
     height:12rem;
     object-fit:cover;
}

.recommended a div {
     margin:1rem;
     align-items:flex-start;
}

.recommended a div h3 {
     text-wrap: wrap;
     font-size:1.25rem;
     line-height:1.75rem;
     font-weight:700;
     color:rgba(220,38,38);
     margin-bottom: 0.5rem;
}

.recommended a div p {
     color:rgba(55,65,81);
}

footer {
     background-color:rgba(31,41,55);
     color:rgba(255,255,255);
     padding-top:2rem;
     padding-bottom:0;
}

footer div.container {
     padding-left:1rem;
     padding-right:1rem;
     display:flex;
     flex-direction:row;
     width: 100%;
     align-items: flex-start;
     justify-content:space-between;
     flex-wrap: wrap;
}

footer div.container div h4 {
     margin-bottom: 0.5rem;
     font-weight:700;
     font-size:1.3rem;
     line-height:1.75rem;
     text-align: left;
}


footer div.container div {
     margin: 2rem;
     align-items: left;
}


footer div.container div p{
     font-size: 1.2rem;
     line-height:1.25rem;
}

footer div.container div ul {
     display: flex;
     flex-direction: column;
     list-style-type: none;
     padding-left: 0px;
     justify-content: space-between;
     
}


footer div.container div ul li div{
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     flex-flow: row;
     align-items: center;
     justify-content: space-between;
     color:rgba(255,255,255);
     font-size: 1.1rem;
     margin: 0px;
     margin-top: 13px;
     max-height: 1.5em;     
}

footer div.container div ul li:hover div {
     color:rgb(255, 79, 79);
     text-decoration: underline;
}


footer div.container div ul li a img {
     max-width: 1.5em;
     padding: 0px 0px 0px 10px;
     
}

footer div.container div ul li a {
     text-decoration: none;
}

footer div.rights p {
     margin-bottom: 0;
     padding: 10px;
     text-align: right;
}


main.recept {

}

main.recept h2 {
     text-wrap: wrap;
     font-size:1.9rem;
     line-height:1.75rem;
     font-weight:700;
     color:rgba(220,38,38);
     margin: 20px 10px 30px 10px;
     width: 100%;
}

main.recept > div div.ingredience{
}

main.recept > div {
     
}


main.recept > div img {
     border-radius:0.5rem;
     margin: 0px 0px 0px 10px;
     z-index: 0;
}




@media (min-width:600px){
     .container {
          max-width:100%
     }

     .recommended a {
          flex: 1.5 0.5 40%;
     }

     header {
          flex-wrap: nowrap;
          flex-direction: row;
          justify-content: space-between;
     }

     .nadpis {
          padding-bottom: 10px;
          width: auto;
          text-align: left;
     }

     nav {
          margin-left: 0;
          margin-right: 0;
          padding-top: 0.75rem;
          padding-bottom: 0.75rem;
          display:flex;
          align-items:center;
          justify-content:space-between
     }
     
     header nav ul {
          display:flex;
     }

     input[type=checkbox]:checked + label + nav > ul {
          display: none;
     }

     body header label {
          display: none;
     }

     
}
@media (min-width:950px){
     .container {
          max-width:1250px;
          
     }

     .recommended  {
          flex: 2 0.5 25%;
     }

     header {
          flex-wrap: nowrap;
          flex-direction: row;
          justify-content: space-between;
     }

     .nadpis {
          padding-bottom: 10px;
          width: auto;
          text-align: left;
     }

     nav {
          margin-left: 0;
          margin-right: 0;
          padding-top: 0.75rem;
          padding-bottom: 0.75rem;
          display:flex;
          align-items:center;
          justify-content:space-between
     }
     
     header nav ul {
          display:flex;
     }

     input[type=checkbox]:checked + label + nav > ul {
          display: none;
     }

     body header label {
          display: none;
     }
}